body {
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .pageWrapper {
    height: 100vh;
    padding: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .listWrapper {
    overflow: auto;
    flex-grow: 1;
    border: 1px solid black;
    padding: 8px;
    border-radius: 8px;
  }
  
  .flag {
    border-radius: 8px;
  }
  